@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import "tailwindcss";
body{
    margin: 0;
    padding: 0;
    font-family: "Dosis", serif;
    font-size: 1.2rem;
    background: #e5e7eb;
}