.signup{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    position:absolute;
    left: -1000000px;
}
input{
    height: 6vh;
    width: 70vw;
    max-width: 400px;
    min-height: 35px;    
    border: 2px dotted black;
    border-radius: 8px;
    background: rgb(255,173,0);
    background: linear-gradient(0deg, rgba(255,173,0,1) 0%, rgba(232,145,73,1) 39%, rgba(250,185,114,1) 100%);
    font-size: 1.2rem;
    padding-left: 10px;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.566);
}
input[type="submit"].submitbtn{
    max-width: 200px;
    border: 2px solid black;
    border-radius: 50px;
    background: #09122C;
    color: white;
    cursor: pointer;
}
span.or{
    margin: 5px;
    height: max-content;
    position: relative;
    text-align: center;
}
span.or::after, span.or::before{
    content: '';
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    width: 20vw;
    margin: 0px 20px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 0;
}
span.or::before{
    left: auto;
    right: 0;
}
div.OAuth{
    padding: 1.5vh;
    width: 70vw;
    max-width: 400px;
    background-color: red;
    text-align: center;
    border-radius: 50px;
}
.moveToSignin{
    color:  rgb(79, 51, 9);
    cursor: pointer;
    font-weight: bold;
}
input:-webkit-autofill {
    background: rgb(255,173,0) !important;  /* Fallback solid color */
    background: linear-gradient(0deg, rgba(255,173,0,1) 0%, rgba(232,145,73,1) 39%, rgba(250,185,114,1) 100%) !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(255,173,0,1) inset !important; 
    -webkit-text-fill-color: black !important; /* Ensure text visibility */
}
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

